{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}
{% block content %}
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
        <button type="submit">Login</button>
    <a href="{% url 'password_reset' %}">Password Reset</a>
    </form>
{% endblock %}

