{% extends 'base.html' %}

{% block title %} Details Category {% endblock %}

{% block content %}


<section class="section">
         <div class="container">
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4">{{ category_details.category_name }}</p>
                    <p class="subtitle is-6">{{category_details.description}}</p>
                  </div>
                </div>

                <div class="content">
                    <h5>{{ category_details.category_description }} </h5>
                  <br>
                    <a href="{% url 'category_list' %}">Go to category list</a>
                </div>
              </div>
            </div>

         </div>
</section>

{% endblock %}