{% extends 'base.html' %}

{% block title %} Category Create {% endblock %}

{% block content %}

    <form method="post" action="">
        {% csrf_token %}
        {# {{ form.as_p }} #}
        {% for field in form %}
            <div class="field">
                <label class="label"> {{ field.label }}</label>
                <div class="control">
                    {{ field }}
                </div>
                <span class="color_red">
                {{ field.errors }}
            </span>
            </div>
        {% endfor %}

        <button type="submit">Save a new category</button>
        <a href={% url 'category_list' %}>Go back to category list</a>
    </form>

{% endblock %}