{%  extends 'base.html' %}

{% block title %} Category List {% endblock %}

{% block content %}



<section class="section">
         <div class="container">
              <table class="table">
                     <thead>
                     <tr>
                         <th>Category Name</th>
                         <th>Description</th>
                         <th>Actions</th>
                     </tr>
                     </thead>
                    <tbody>
                    {% for category in all_categories %}
                        <tr>
                            <td>{{ category.category_name }}</td>
                            <td>{{ category.description }}</td>
                            <td>
                                 {% if perms.category.category_update %}
                                <a href="{% url 'category_update' category.id %}">Update</a>
                                {% endif %}
                            {% if perms.category.category_delete %}
                                <a href={% url 'category_delete' category.id %}>Delete</a>
                            {% endif %}
                             {% if perms.category.category_details %}
                                <a href={% url 'category-details' category.id %}>Details</a>
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
              </table>
         {% if perms.category.category_create %}
                          <a href={% url 'category_create'%}>Add new category</a>
         {% endif %}
         </div>
</section>
{% endblock %}