{%  extends 'base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}


<section class="section">
         <div class="container">
         <h1>{{ request.user.groups.get.name}}</h1>
              <table class="table">
                     <thead>
                     <tr>
                         <th>Product Name</th>
                         <th>Category Name</th>
                         <th>Description</th>
                         <th>Price</th>
                         <th>Actions</th>
                     </tr>
                     </thead>
                    <tbody>
                    {% for product in all_products %}
                        <tr>
                            <td>{{ product.product_name }}</td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.price }}</td>
                            <td>
                                {% if perms.product.change_product %}
                                <a href={% url 'product-update' product.id %}>Update</a>
                                {% endif %}
                            {% if perms.product.delete_product %}
                                <a href={% url 'product-delete' product.id %}>Delete</a>
                            {% endif %}
                            {% if perms.product.view_product %}
                                <a href={% url 'product-details' product.id %}>Details</a>
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
              </table>
         {% if perms.product.add_product %}
             <a href={% url 'product-create' %}>Add new product</a>
         {% endif %}
         </div>
</section>
{% endblock %}>