{% extends 'base.html' %}

{% block title %} Product Create {% endblock %}

{% block content %}

    <form method="post" action="">
        {% csrf_token %}
        {# {{ form.as_p }} #}

        {% for field in form %}
            <div class="field">
                <label class="label"> {{ field.label }}</label>     {# ne afiseaza denumirea campului #}
                <div class="control">
                    {{ field }}   {# aduce inoutul pt fiecare field #}
                </div>
                <span class="color_red">
                {{ field.errors }}    {# ne afiseaza erorile #}
            </span>
            </div>
        {% endfor %}


        <button type="submit">Save a new product</button>
        </br>
        <a href="{% url 'product-list' %}">Go back to product list</a>
    </form>

{% endblock %}