{% extends 'base.html' %}

{% block title %} Delete Product {% endblock %}

{% block content %}
    <form method="post">
    <h3>Are you sure you want to delete this product?</h3>
    {% csrf_token %}
    <button type="submit">YES</button>
    <a href={% url 'product-list' %}>NO</a>"
    </form>
{% endblock %}
