{% extends 'base.html' %}
{% block title %} Product update {% endblock %}
{% block content %}
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update details about this product</button>
    </form>
{% endblock %}
