{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
         {#  <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> #}
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            {% if request.user.is_authenticated %}
          <a class="navbar-item" href="{% url 'list_of_products' %}">
            Products
          </a>

          <a class="navbar-item" href="{% url 'category_list' %}">
            Categories
          </a>
            {% endif %}

        
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href="{% url 'create_new_user' %}" class="button is-primary">
                <strong>Sign up</strong>
              </a>
                {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}" class="button is-primary">
                    Log out, {{ request.user.first_name }} {{ request.user.last_name }}
                </a>
                    {% else %}
              <a href="{% url 'login' %}" class="button is-primary">
                Log in
              </a>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>
{% block content %}

 {% endblock %}

</body>
</html>