 {% extends 'base.html' %}

 {% block title %}
     Create New User
 {% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
    {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
{% endblock %}