{%  extends 'base.html' %}
{% block title%}
    Delete User
{% endblock %}
{% block content%}
    <p>Are you suer do you want to delete the user:{{ user.username }}</p>
    <form method="post">
            {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
{% endblock %}