{% extends 'base.html'%}
{% block title%}
    List of Users
{% endblock %}
{% block content %}
    <table class="table">

        <thead>
        <tr>
            <th>UserName</th>
            <th>Actions</th>

        </tr>
        </thead>
    <tbody>
    {% for user in all_users%}
    <tr>
        <td>{{user.username}}</td>
        <td>
            <a href={% url 'delete_user' user.id %}>Detele </a>
            <a href={% url 'update_user' user.id %}>Update</a>
        </td>

    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}